.app-wrapper {
  margin: 0 auto;
  padding: 5%;
  max-width: 1440px;
  min-width: 960px;
  display: grid;
  grid-template-areas: "head head" "nav cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper .app-wrapper__content {
  grid-area: cont;
  background-color: rgba(0, 0, 255, 0.295);
}