.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogs .dialogs__items {
  padding: 10px;
}
.dialogs .dialogs__items .dialog a {
  color: darkmagenta;
  text-decoration: none;
}
.dialogs .messages {
  padding: 10px;
}
.dialogs .messages .message {
  color: white;
}